{% extends "base.html" %}

{% block content %}
<!-- MY ANALYSES -->
        <div class="page" id="page-analyses">
          <div class="analyses-wrap">
            <div class="page-title">My Analyses</div>
            <div class="page-subtitle">All your past product analyses, most recent first.</div>
            <div id="analysesList"></div>
            <div class="loading-spinner" id="analysesSpinner"><div class="spinner-border spinner-border-sm" role="status" style="color:var(--indigo);"></div>&nbsp;<span>Loading more…</span></div>
          </div>
        </div>

      
{% endblock %}
